body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url("background.png");
    background-size: contain;
    
     overflow: hidden; /* Hide scrollbars */
      
}

header{
    position: absolute;
    z-index: 9999;
    padding: 0 0.9rem 0;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    
    
    height: 10vh;
}

header nav {
  
  max-width: 90vw;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  
}
.logo{
    margin-top: 25vh;
    width: 300px;
    
}
header ul{
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a{
    text-decoration: none;
    padding: 0 1.5rem;
    color: black;
    font-weight: 300;
    font-size: 1.2rem;
}
.search{
    font-size: 1.3rem;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-image: url("img/background.png");
    background-repeat: no-repeat;
    background-size:   100vw 100vh ;
}

.login_box{
    
    position: absolute;
    width: 550px;
    height: 700px;
    background: transparent;
    border : 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.login{
    width: 80%;
    height: 15%;
    
    margin: 0 auto;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.email{
    display: flex;
    justify-content: center;
    
}
.email input{
    background: transparent;
    height: 30px;
    width: 470px;
    border: 0;
    border-bottom: 1px solid;
    font-size: 1.2rem;
    color: black;
}

.password{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.password input{
    background: transparent;
    height: 30px;
    width: 470px;
    border: 0;
    border-bottom: 1px solid;
    font-size: 1.2rem;
    color: black;
}

.options{
    
    display: flex;
    justify-content: center;
    

}
.options-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 470px;
    margin-top: 20px;
    

}

.remember_me{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.forgot_password{
    font-size: 1.2rem;
    
}

.forgot_password a{
    text-decoration: none;
    color: black;
}

.login_button{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    
}

.login_button button{
    background-color: #293241;
    width: 470px;
    height: 50px;
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
}

#remember_me{
    height: 25px;
    width: 25px;
    margin-right: 5px;
}

.signin{
    margin-top: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: 1.5rem;
}

.signin a{
    text-decoration: none;
    color: black;
}

.birds{
    position: absolute;
    z-index:5;
    top: calc(50% - 50px);
    left: calc(50% + 200px);
    


}
.birds img{
    width: 800px;
}

.logo2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
    height: 30%;
    
}


.mentalhealth{
    margin-top: 50px;
    margin-bottom: 30px;
    height: 30%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 30%;
    margin-left: 7vw;
    border-radius: 20px;

    
}
.physicalhealth{
    margin-top: 30px;
    height: 30%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    opacity: 30%;
    margin-left: 7vw;
    color: black;
     border-radius: 20px;
}

.health{
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 25px;
    font-weight: 400;
    
    color: black;
}
.health a{
    text-decoration: none;
}